<div class="wrapper">
    <div class="main">
        <div class="section section-first">
            <div class="container big-font">
                <div>
                    Study team: Dr. Yuqing Guo, RN PhD & Holly Borg, MSN-Candidate <br/>
                    <a href="mailto:UNITEnursing@gmail.com"><i class="fa fa-at"></i> UNITEnursing@gmail.com</a> <br/>
                    <a href="tel:+17144856883"> <i class="fa fa-phone"></i> (714) 485-6883</a> (text or call)
                </div>
                <div>
                    <h4> Medical Emergency </h4>
                    If this is a medical emergency, please call <br/>
                    <a href="tel:911"><i class="fa fa-phone"></i> 911</a>
                </div>
                <hr/>
                <div>
                    <h4> National Suicide Prevention Hotline </h4>
                    The National Suicide Prevention Hotline provides 24/7 free and confidential support for anyone in distress, prevention and crisis resources for you or your loved ones. This network is committed to empowering individuals and building awareness. <br/>
                    <a href="tel:+18002738255"><i class="fa fa-phone"></i> (800) 273-8255</a>
                </div>
                <hr/>
                <div>
                    <h4> Fussy Baby Network </h4>
                    The Fussy Baby Network provides parents with a national network of infant specialists who can help families struggling with their infants’ crying, sleeping or feeding. Infant specialists are available Monday through Friday, 9am to 5pm. Please leave a message if calling after hours and they will respond the next business day. Resources offered in English and Spanish. <br/>
                    <a href="tel:+18884312229"><i class="fa fa-phone"></i> (888) 431-2229</a>
                </div>
                <hr/>
                <div>
                    <h4> National Parent Helpline</h4>
                    The National Parent Hotline offers emotional support from a trained advocate to become empowered and a stronger parent. A trained advocate will be available Monday through Friday, 10am to 7pm. <br/>
                    <a href="tel:+18554272736"><i class="fa fa-phone"></i> (855) 427-2736</a>
                </div>
                <hr/>
                <div>
                    <h4> Alameda County Parental Stress Hotline </h4>
                    The Alameda County Parental Stress Hotline provides free and confidential counseling or information to anyone in need of parenting support. Treatment specialists are available for one time anonymous calls or regular call backs to support your specific parenting or family concerns. Phone translation services are also available. <br/>
                    <a href="tel:+15108935444"><i class="fa fa-phone"></i> (510) 893-5444</a>
                </div>

            </div>
        </div>
    </div>
</div>
