$icomoon-font-family: "Unite-Icons" !default;
$icomoon-font-path: "../fonts" !default;

$unite-icon-Mad1-path1: "\e901";
$unite-icon-Mad1-path2: "\e902";
$unite-icon-Mad1-path3: "\e903";
$unite-icon-Mad1-path4: "\e904";
$unite-icon-Mad1-path5: "\e905";
$unite-icon-Mad1-path6: "\e906";
$unite-icon-Mad2-path1: "\e907";
$unite-icon-Mad2-path2: "\e908";
$unite-icon-Mad2-path3: "\e909";
$unite-icon-Mad2-path4: "\e90a";
$unite-icon-Mad2-path5: "\e90b";
$unite-icon-Mad2-path6: "\e90c";
$unite-icon-Mad3-path1: "\e90d";
$unite-icon-Mad3-path2: "\e90e";
$unite-icon-Mad3-path3: "\e90f";
$unite-icon-Mad3-path4: "\e910";
$unite-icon-Mad3-path5: "\e911";
$unite-icon-Mad3-path6: "\e912";
$unite-icon-Positive1-path1: "\e913";
$unite-icon-Positive1-path2: "\e914";
$unite-icon-Positive1-path3: "\e915";
$unite-icon-Positive1-path4: "\e916";
$unite-icon-Positive2-path1: "\e917";
$unite-icon-Positive2-path2: "\e918";
$unite-icon-Positive2-path3: "\e919";
$unite-icon-Positive2-path4: "\e91a";
$unite-icon-Positive3-path1: "\e91b";
$unite-icon-Positive3-path2: "\e91c";
$unite-icon-Positive3-path3: "\e91d";
$unite-icon-Positive3-path4: "\e91e";
$unite-icon-Sad1-path1: "\e91f";
$unite-icon-Sad1-path2: "\e920";
$unite-icon-Sad1-path3: "\e921";
$unite-icon-Sad1-path4: "\e922";
$unite-icon-Sad2-path1: "\e923";
$unite-icon-Sad2-path2: "\e924";
$unite-icon-Sad2-path3: "\e925";
$unite-icon-Sad2-path4: "\e926";
$unite-icon-Sad3-path1: "\e927";
$unite-icon-Sad3-path2: "\e928";
$unite-icon-Sad3-path3: "\e929";
$unite-icon-Sad3-path4: "\e92a";
$unite-icon-Sad3-path5: "\e92b";
$unite-icon-Sad3-path6: "\e92c";
$unite-icon-Sad3-path7: "\e92d";
$unite-icon-logo: "\e900";

