.owl-dt-container-buttons {
  color: $primary-color;
}

.owl-dt-container-info .owl-dt-container-info-active {
  color: $primary-color;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary-color;
}
